 {{ template "header.tmpl" }}
 <title>{{ .Title }}</title>
 {{ template "middle.tmpl" }}
 <div class="content-card height-viewport">
  <h2>{{ .Title }}</h2>
  {{ about }}
</div>
 {{ template "footer.tmpl" }}