 {{ template "header.tmpl" }}
 <title>{{ .Title }}</title>
 {{ template "middle.tmpl" }}
  <div class="right-card height-viewport">
  <h2>{{ .Title }}</h2>
  {{ range .Data }}
    <h3>{{ .Year }} 年 {{ .Month }} 月</h3>
    {{ range .Posts }}
      <h4><a href="{{ getFromConfig "site.prifix" }}/posts/{{ .SID }}">{{ .Title }}</a> <span class="meta-verbose">({{ .PubDate.Format "2006-01-02" }})</span></h4>
    {{ else }}
      <h4>暂无文章</h4>
    {{ end }}
  {{ else }}
    <h4>暂无归档</h4>
  {{ end }}
  </div>
 {{ template "footer.tmpl" }}