 {{ template "header.tmpl" }}
 <title>{{ .Title }}</title>
 {{ template "middle.tmpl" }}
  <div class="right-card height-viewport">
    {{ if gt (len .Posts) 0 }}
      {{ $post := index .Posts 0 }}
  <h2>最新文章：<a href="{{ getFromConfig "site.prefix" }}/posts/{{ $post.SID }}">{{ $post.Title }}</a></h2>
      <ul class="post-meta">
        <li>📅 发表于{{ $post.PubDate.Format "2006-01-02" }}</li>
  <li>📁 <a href="{{ getFromConfig "site.prefix" }}/posts?category={{ $post.Category }}">{{ $post.Category }}</a></li>
        <li>🏷️
          {{ $tags := split $post.Tags "," }}
          {{ range $idx, $tag := $tags }}
            <a href="{{ getFromConfig "site.prefix" }}/posts?tag={{ $tag }}">{{ $tag }}</a>{{ if lt $idx (sub (len $tags) 1) }} ● {{ end }}
          {{ end }}
        </li>
      </ul>
      <p>{{ $post.Description }}</p>
      <hr />
    {{ else }}
      <h2>暂无文章</h2>
    {{ end }}
    {{ if gt (len .Posts) 2 }}
      <h3>更多文章</h3>
    {{ end }}
    {{ range $p := slice .Posts 1 }}
      <h4><a href="{{ getFromConfig "site.prefix" }}/posts/{{ $p.SID }}">{{ $p.Title }}</a> <span class="meta-verbose">({{ $p.PubDate.Format "2006-01-02" }})</span></h4>
    {{ else }}
      <h4>暂无文章</h4>
    {{ end }}
  <a class="more-post" href="{{ getFromConfig "site.prefix" }}/posts">查看所有文章...</a>
    <hr />
    <div class="comment-list" id="comment-list">
      <h3>最新评论</h3>
      <div class="comment-item">
        {{ range .Comments }}
            <div class="comment-item">
                <p>
                  <strong>
                    {{ if .Website }}
                      <a class="nickname" href="{{ .Website }}">{{ .Nickname }}</a>:
                  {{ else }}
                    {{ .Nickname }}:
                  {{ end }}
                  </strong> <a href="{{ getFromConfig "site.prefix" }}/posts/{{ .PostSID }}#c-{{ .SID }}">{{ truncate .Content 120 }}</a> <span class="meta-verbose">{{ relativeTimeSimple .PubDate }}</span>
                </p>
            </div>
        {{ else }}
            <p>暂无评论 😭</p>
        {{ end }}
      </div>
    </div>
  </div>
 {{ template "footer.tmpl" }}