{{ define "footer.tmpl" }}
    </div>
    <div class="scrollup" id="scrollup">⇧</div>
    <footer class="site-footer">
      <div class="container">
      <p>© 2025 DOCSET.VIP 保留所有权利</p>
      <p>备案号: 鄂ICP备2022000729号-2</p>
      </div>
    </footer>
  </div>
  <script>
    document.querySelector('.scrollup').addEventListener('click', function() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    });
    window.addEventListener('scroll', function() {
      const scrollup = document.querySelector('.scrollup');
      if (window.scrollY > 200) {
        scrollup.style.display = 'block';
      } else {
        scrollup.style.display = 'none';
      }
    });
  </script>

  <!-- Mermaid JS -->
  <script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js"></script>
  <script>
    mermaid.initialize({ startOnLoad: false,theme: "dark" });
  
    document.querySelectorAll('.mermaid:not([data-processed])').forEach((el) => {
      mermaid.init(undefined, el);
    });
  </script>
</body>
</html>
{{ end }}