{{ define "middle.tmpl" }}
  <link rel="stylesheet" href="{{ getFromConfig "site.prefix" }}/static/{{ getFromConfig "site.css" }}">
  <link rel="stylesheet" href="/static/monokai.css">
</head>
<body>
  <div class="main">
    <div class="left">
      <div class="avatar" id="avatar"><img src="https://s3.bmp.ovh/imgs/2025/11/06/2554356063f54a17.jpg" alt="avatar"></div>
      <div class="logo" id="logo"><a href="{{ getFromConfig "site.prefix" }}/">阿Q的博客</a></div>
      <div class="nav">
        <a href="{{ getFromConfig "site.prefix" }}/">首页</a>
        <a href="{{ getFromConfig "site.prefix" }}/posts">文章</a>
        <a href="{{ getFromConfig "site.prefix" }}/categories">分类</a>
        <a class="hidden-xs" href="{{ getFromConfig "site.prefix" }}/archive">归档</a>
        <a class="hidden-xs" href="{{ getFromConfig "site.prefix" }}/tags">标签</a>
        <a href="{{ getFromConfig "site.prefix" }}/about">关于</a>
        <a class="hidden-xs" href="{{ getFromConfig "site.prefix" }}/atom.xml">RSS</a>
      </div>
      <div class="social-links">
        <a href="{{ getFromConfig "site.github" }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2-.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53.61 2.2.82 2.2.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
</svg></a>
        <a href="{{ getFromConfig "site.twitter" }}" aria-label="Twitter"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="328 355 335 276" aria-hidden="true" focusable="false">
  <path d="
    M 630, 425
    A 195, 195 0 0 1 331, 600
    A 142, 142 0 0 0 428, 570
    A  70,  70 0 0 1 370, 523
    A  70,  70 0 0 0 401, 521
    A  70,  70 0 0 1 344, 455
    A  70,  70 0 0 0 372, 460
    A  70,  70 0 0 1 354, 370
    A 195, 195 0 0 0 495, 442
    A  67,  67 0 0 1 611, 380
    A 117, 117 0 0 0 654, 363
    A  65,  65 0 0 1 623, 401
    A 117, 117 0 0 0 662, 390
    A  65,  65 0 0 1 630, 425
    Z"/>
</svg></a>

      </div>
    </div>
    <div class="right">
{{ end }}