{{ define "middle.tmpl" }}
  <link rel="stylesheet" href="{{ getFromConfig "site.prifix" }}/static/style.css">
</head>
<body>
  <div class="main">
    <div class="left">
      <div class="site-name">{{ .Title }}</div>
      <div class="avatar"><img src="/static/avatar.jpg" alt="avatar"></div>
      <div class="nav">
        <a href="{{ getFromConfig "site.prifix" }}">首页</a>
        <a href="{{ getFromConfig "site.prifix" }}/posts">文章</a>
        <a href="{{ getFromConfig "site.prifix" }}/categories">分类</a>
        <a href="{{ getFromConfig "site.prifix" }}/archive">归档</a>
        <a href="{{ getFromConfig "site.prifix" }}/tags">标签</a>
        <a href="{{ getFromConfig "site.prifix" }}/about">关于</a> 
      </div>
      <div class="social-links">
        <a href="#">GitHub</a>
        <a href="#">Twitter</a>
        <a href="#">LinkedIn</a>
      </div>
    </div>
    <div class="right">
{{ end }}