{{ define "middle.tmpl" }}
  <link rel="stylesheet" href="{{ getFromConfig "site.prefix" }}/static/{{ getFromConfig "site.css" }}">
  <link rel="stylesheet" href="/static/monokai.css">
</head>
<body>
  <div class="main">
    <div class="header-container">
      <div class="avatar" id="avatar"><img src="https://s3.bmp.ovh/imgs/2025/11/06/2554356063f54a17.jpg" alt="avatar"></div>
      <div class="logo" id="logo"><a href="{{ getFromConfig "site.prefix" }}/">阿Q的博客</a></div>
      <div class="nav">
        <a href="{{ getFromConfig "site.prefix" }}/">首页</a>
        <a href="{{ getFromConfig "site.prefix" }}/posts">文章</a>
        <a class="hidden-xs" href="{{ getFromConfig "site.prefix" }}/archive">归档</a>
      </div>
      <div class="social-links">
        <a href="{{ getFromConfig "site.github" }}" aria-label="Github" target="_blank" rel="noopener" title="Github">
          <img class="icon" src="{{ getFromConfig "site.prefix" }}/static/github.svg" alt="Github" aria-hidden="true" focusable="false">
        </a>
        <a href="{{ getFromConfig "site.twitter" }}" aria-label="Twitter" target="_blank" rel="noopener" title="Twitter">
          <img class="icon" src="{{ getFromConfig "site.prefix" }}/static/twitter.svg" alt="Twitter" aria-hidden="true" focusable="false">
        </a>
        <a href="{{ getFromConfig "site.prefix" }}/atom.xml" aria-label="RSS" target="_blank" rel="noopener" title="RSS">
          <img class="icon" src="{{ getFromConfig "site.prefix" }}/static/rss.svg" alt="RSS" aria-hidden="true" focusable="false">
        </a>
        <a href="https://www.travellings.cn/go.html" target="_blank" rel="noopener" title="开往-友链接力">
          <img class="icon" src="{{ getFromConfig "site.prefix" }}/static/travelling.svg" alt="开往-友链接力">
        </a>
      </div>
    </div>
    <div class="content-container">
{{ end }}